<div class="upload-container">
  <div class="upload-btn">
    <input type="file" id="uploadInput" accept="application/json" webkitRelativePath multiple (change)="handleFiles(this.files)"
      style="display:none">
    <button mat-stroked-button color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>Add files
    </button>
  </div>
</div>

<div class="import-container">
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">File import</mat-card-title>
      <mat-card-subtitle class="card-subtitle">Click on the add button to import json files</mat-card-subtitle>
    </mat-card-header>
    <div class="error-container" *ngIf="filePaths.length ==0">
      <mat-card-subtitle>No files found. Please click on the add button to import files</mat-card-subtitle>

    </div>
    <div class="file-container" *ngIf="filePaths.length>0">
      <mat-list>
        <mat-list-item *ngFor="let folder of filePaths" class="list-item">
          <h4 mat-line>{{folder.name}}</h4>
          <button mat-icon-button (click)="removeFile(folder)">
            <mat-icon class="mat-24">close</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <div class="button-container">
        <button mat-stroked-button color="primary" (click)="sendFiles()">Submit</button>
      </div>

    </div>

  </mat-card>
</div>


<!-- {{filePaths | json}} -->